
dependencies {
    
    // Google Mobile Ads SDK
    implementation 'com.google.android.gms:play-services-ads:23.0.0'
    
    // Pangle SDK
    implementation 'com.pangle.global:ads-sdk:4.6.0.9'
    
    implementation 'com.google.ads.mediation:pangle:5.5.0.4.0'
}



