<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>
    <key>CFBundleAllowMixedLocalizations</key>
    <true/>
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>
    <key>CFBundleDisplayName</key>
    <string>XRUN</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
    <key>CFBundleShortVersionString</key>
    <string>4.9.8</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>run.xrun.xrunapps</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>xrungoApp</string>
          <string>run.xrun.xrunapps</string>
          <string>com.googleusercontent.apps.1003094533748-ht43iomt62g0h1dmiii3huav334pqiie</string>
          <string>com.googleusercontent.apps.1003094533748-2g87114p66dfq8v0f7imi67r9h5on6g4</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>exp+xrun</string>
        </array>
      </dict>
    </array>
    <key>CFBundleVersion</key>
    <string>5</string>
    <key>GIDClientID</key>
    <string>oth-client.googleusercontent.invalid</string>
    <key>GMSApiKey</key>
    <string>oth-google-api-key</string>
    <key>ITSAppUsesNonExemptEncryption</key>
    <false/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>whale</string>
      <string>kakaotalk</string>
      <string>kakaolink</string>
      <string>line</string>
      <string>fb</string>
      <string>instagram</string>
      <string>twitter</string>
      <string>whatsapp</string>
      <string>telegram</string>
    </array>
    <key>LSMinimumSystemVersion</key>
    <string>26.0</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSAllowsLocalNetworking</key>
      <true/>
    </dict>
    <key>NSCameraUsageDescription</key>
    <string>서비스 지점 안내, AR 기능 사용을 위해 카메라 권한이 필요합니다. We need camera access to show you service locations and provide AR features.</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your location</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>사용자 주변의 가까운 매장이나 서비스 지점을 찾아서 안내하기 위해 위치 정보가 사용됩니다. Your location helps us find and suggest the nearest stores or service points for you.</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Allow $(PRODUCT_NAME) to access your microphone</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>선택적으로, 사용자의 이미지를 업로드 하기 위해 사진 권한이 필요합니다. You can optionally allow photo access if you'd like to upload your own images.</string>
    <key>NSPhotoLibraryAddUsageDescription</key>
    <string>바코드 이미지를 사진첩에 저장하기 위해 사진 추가 권한이 필요합니다. We need permission to add images to your photo library to save ticket barcodes.</string>
    <key>NSUserTrackingUsageDescription</key>
    <string>사용자에게 최적화된 광고를 제공하기 위해 기기 정보 및 광고 활동 데이터를 사용합니다. This identifier will be used to deliver personalized ads to you.</string>
    <key>RCTNewArchEnabled</key>
    <true/>
    <key>SKAdNetworkItems</key>
    <array>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>238da69tyc.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>22mmun2rn5.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>9rd848q2bz.skadnetwork</string>
      </dict>
      <dict>
        <key>SKAdNetworkIdentifier</key>
        <string>5a6flpkh64.skadnetwork</string>
      </dict>
    </array>
    <key>UILaunchStoryboardName</key>
    <string>SplashScreen</string>
    <key>UIRequiredDeviceCapabilities</key>
    <array>
      <string>arm64</string>
    </array>
    <key>UIRequiresFullScreen</key>
    <false/>
    <key>UIStatusBarStyle</key>
    <string>UIStatusBarStyleDefault</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
    </array>
    <key>UIUserInterfaceStyle</key>
    <string>Light</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
  </dict>
</plist>